@tailwind base;
@tailwind components;
@tailwind utilities;
/* Mevcut kodların altına ekle */

/* Işıltılı arka plan deseni */
.bg-sparkles {
    background-image:
            radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
            radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
            radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px);
    background-size: 550px 550px, 350px 350px, 250px 250px;
    background-position: 0 0, 40px 60px, 130px 270px;
}